{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
	{{parent()}}
	<body>
		<div class="container ms-0 me-0">
			<div class="d-flex justify-content-center"></div>
			<div class="col padding-body">
				<div
					class="row">
					<!-- Premier colonne contenant des informations -->
					<div class="col padding-col">
						<h1>Mes formations</h1>
						{% set sens = sens is defined and sens == 'asc' ? 'desc' : 'asc' %}

						<form action="{{ path('training_tri', {'sens': sens}) }}" method="post">
							<button type="submit">Trier</button>
						</form>
						{% for training in trainings %}
							{{training.name}}
							<br>
							{{training.startDate|date("d/m/Y")}}
							{{training.endDate|date("d/m/Y")}}
							<br>
							{{training.description}}
							<br>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a class="btn btn-dark my-3	" href="/training/update/{{training.id}}">Modifier</a>
								<a class="btn btn-dark my-3" href="/training/delete/{{training.id}}">Supprimer</a>
							{% endif %}
							<br>
						{% endfor %}
						<br>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a class="btn btn-dark mb-5" href="/training/create" role="button">Créer une formation</a>
						{% endif %}

					</div>
					<div class="col padding-col">
						<h1>Mes experiences</h1>
						{% for work in works %}
							{{work.name}}
							<br>
							{{work.startDate|date("d/m/Y")}}
							{{work.endDate|date("d/m/Y")}}
							<br>
							{{work.description}}
							<br>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a class="btn btn-dark my-3" href="/work/update/{{work.id}}">Modifier</a>
								<a class="btn btn-dark my-3" href="/work/delete/{{work.id}}">Supprimer</a>
							{% endif %}
						{% endfor %}
						<br>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a class="btn btn-dark mb-5" href="/work/create" role="button">Créer une experiences</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
